<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIz9CK72pVidua_NW8_obw2UwtqehxfJI</string>
	<key>GCM_SENDER_ID</key>
	<string>152740143958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>the.best.todo.app.theBestTodoApp</string>
	<key>PROJECT_ID</key>
	<string>the-best-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-best-todo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152740143958:ios:25a621d71c3429d1b0acf7</string>
</dict>
</plist>